<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>

    <link rel="stylesheet" href="/header.css"/>
    <link rel="stylesheet" href="/index.css"/>
    <link rel="stylesheet" href="search.css"/>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a href="index.html" class="logo">Rate My Modules</a>
        <div class="header-right">
          <a href="/index.html">Home</a>
          <a href="/about.html">About</a>
          <a  class="active" href="/Search/search.html">Search</a>
          <a href="/Account/login.html">Login</a>
        </div>
    </div>

    <div id="loading" class="Loading" style="display: block;">
        <h1>Loading...</h1>
        <div id="loader1" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>

   
   


    <div id="results"  class="main-div" style="display: none;">
        <img id="uniLogo" style="height: 100px;">
        <h2 style="align-content: left;">{{Uni}} - School of {{School}}</h2>
    
        <p>Try searching for the module below, using either its ID or name. If you can not find the module feel free to click on the Create Missing Module button at the bottom of the page.</p>
     

        <h2>Search by Module ID</h2>
       <p>If you know the Module ID code for the module you wish to view please type it in here to search for it.</p>
        <div>
            <input type="text" v-model="Search"  placeholder="Search by Module ID" id="search" 
            style="float: left; width: 75%; border-radius: 5px 0px 0px 5px; text-transform: uppercase;"/>
            <button onclick="Search()" style="float: right; width: 25%;  border-radius: 0px 5px 5px 0px; min-width: 65px;">Search</button>
        </div>
        

        <br>
       
        <div id="errorBox"></div>
      
        <hr class="solid">
        <br>
        <h2>Explore Modules</h2>
        <p>If you are just exploring the modules available use below and press "Load More" to view more modules. Filtering will only search through the modules that you have currently loaded, this is to save server resources. You should instead use the search feature above to view a specific module.</p>

        <div style="margin-bottom: 2.5cm;">
            <input type="text" v-model="Filter"  placeholder="Filter list by Module Name or ID" id="filter"   style="float: left; width: 65%; border-radius: 5px 0px 0px 5px;" />
            <select  onchange="ReFilter()" id="year" style=" width: 35%;  border-radius: 0px 5px 5px 0px; float: right;">
                <option value="All">All Years</option>
                <option value="1">Year 1</option>
                <option value="2">Year 2</option>
                <option value="3">Year 3</option>
                <option value="4">Year 4</option>
                <option value="5">Year 5</option>
                <option value="6">Year 6</option>
                <option value="7">Year 7</option>
            </select>
        </div>

 





        <blog-post
            v-for="post in activeUsers"
            v-bind:key="post.id"
            v-bind:post="post"
            ></blog-post>


        <h1 v-if="activeUsers.length == 0" style="width:100%; text-align: center;">No Filtered Results Found</h1>
        <h2 v-if="activeUsers.length == 0" style="width:100%; text-align: center;">No Module from your loaded list matches your filter term.</h2>


        <button id="LoadMore" onclick="LoadMore()">➕ Load More Modules...</button>


        <button onclick="location.href='/Module/createModule.html';">Can't find the Module? Create the Module Here.</button>

      
    </div>
 

  




    <script src="https://www.gstatic.com/firebasejs/7.17.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.0/firebase-auth.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyCdbwjl87f5yCdZ7KWH3Z02_sPrX7UJrLM",
            authDomain: "rate-my-modules.firebaseapp.com",
            databaseURL: "https://rate-my-modules.firebaseio.com",
            projectId: "rate-my-modules",
            storageBucket: "rate-my-modules.appspot.com",
            messagingSenderId: "714973280124",
            appId: "1:714973280124:web:6361bb755f28a5f74fd6f9",
            measurementId: "G-ZJWH0NEZP9"
        };
    
        firebase.initializeApp(firebaseConfig);
    </script>
    <script src="/Scripts/UserInfo.js"></script>
    <script src="SearchResults.js"></script>

</body>
</html>